.left-favorites-panel-icon {
        background-image:url(/images/common/business/small/rating.png) !important;
}

.left-tasks-panel-icon {
        background-image:url(/images/common/business/small/view-calendar-todo.png) !important;
}

.exit-menu-icon {
    background-image:url(/images/common/system/small/door-out.png) !important;
}

